<form [formGroup]="closingForm" class="closing-form" (ngSubmit)="onSubmit()">
  <h2 class="hdr-closing-form">Add Closing</h2>

  <label>
    Closing Name
    <input type="text" formControlName="closingName" class="input-fields" />
  </label>
  <label>
    Closing Date
    <input type="text" formControlName="closingDate" class="input-fields" />
  </label>
  <label>
    Inspection Report Date
    <input
      type="text"
      formControlName="inspectionReportDate"
      class="input-fields"
    />
  </label>
  <label>
    Exchange Fund
    <select formControlName="exchangeFund" class="input-fields">
      <option value="">--Select--</option>
      <option *ngFor="let fund of exchangeFund">{{ fund.fundName }}</option>
    </select>
  </label>
  <div class="btn-closing-form">
    <input type="submit" value="Save" />
    <input type="button" value="Return" (click)="returnCloseListing()" />
  </div>
</form>

<!-- <form [formGroup]="closingForm">
  <label>
    Closing Sample
    <input type="text" class="input-fields" />
  </label>
</form> -->
