.closing-form {
  margin-top: 30px;
  width: 300px;
  label {
    display: block;
    font-size: 14px;
    font-weight: 500;
  }

  .input-fields {
    display: block;
    margin-top: 5px;
    border: 1px solid #ddd;
    width: 240px;
    outline: none;
    padding: 4px 7px;
  }

  .btn-closing-form {
    text-align: right;
    margin: 50px 0 50px;
    input {
      font-size: 13px;
      margin-right: 5px;
    }
  }

  .hdr-closing-form {
    font-size: 16px;
    font-weight: 500;
    color: #386ec1;
    margin-bottom: 25px;
  }
}

@media (max-width: 1023px) {
  .closing-form {
    width: 100%;
    label {
      margin: 0 10px;
    }

    .input-fields {
      width: 100%;
    }

    .hdr-closing-form {
      margin: 30px 10px;
    }
  }
}
