<div class="table-container">
  <div class="hdr-table-container">{{ tableHeader }}</div>
  <table class="data-table-container" *ngIf="rowData">
    <thead>
      <tr>
        <th
          *ngFor="let header of rowData.dataHeaders | tableFilter"
          scope="col"
        >
          {{ header.label }}
          <span class="order" (click)="sortTable(header.key, $event)"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rowData.data">
        <td *ngFor="let col of rowData.dataHeaders | tableFilter">
          {{ row[col["key"]] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p>{{ changePropStr }}</p>
