.table-container {
  margin-top: 40px;

  .hdr-table-container {
    font-size: 14px;
    font-weight: 700;
    color: #386ec1;
  }

  .data-table-container {
    margin-top: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;

    th {
      border: 1px solid #000;
      text-align: left;
      padding: 8px;
      font-size: 12px;
      font-weight: 700;
      position: relative;
    }
    td {
      border-left: 1px solid #000;
      font-size: 12px;
      padding: 5px 10px;
    }

    .order {
      border: 1px solid #000;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 30px;
      cursor: pointer;

      &.asc:after {
        border-bottom: 8px solid gray;
        border-top: 0 none;
      }

      &:after {
        content: "";
        margin: 0 0.5em;
        display: inline-block;
        border: 7px solid transparent;
        border-top: 8px solid gray;
        border-bottom: 0 none;
        position: absolute;
        top: 12px;
        right: 0px;
      }
    }
  }
}
