<!-- <app-main-info
  [currentClosing]="homePageData?.currentClosing"
  [pendingSubscriptions]="homePageData?.pendingSubscriptions"
  [completeSubscriptions]="homePageData?.completeSubscriptions"
></app-main-info>
<app-data-table
  [rowData]="dataTable"
  tableHeader="Scanned Subscription Document Dashboard"
  [items]="items"
  #dataTbl
></app-data-table>
<div class="btn-table-container">
  <input type="file" name="chooseFile" value="Choose File" />
  <input type="button" name="upload" value="Upload" />
</div>

<div>
  Private String Propert: {{ _st }}

  IVY
  <button (click)="loadComp()">Load Dynamic with IVY</button>
 <app-lazy-component></app-lazy-component>
  <my-container></my-container>
  Dynamic Components

  <div dynamic></div>

  ///////////////////// Ascend : {{ dataTbl.isAscend }} Ascend from View child :
  {{ viewChild.isAscend }}

  <input [(ngModel)]="title" type="text" />

  Faulty <input type="checkbox" [(ngModel)]="isFalty" />

  <div><button (click)="addItem()">add</button></div>
  <ul>
    <li *ngFor="let x of items | itemFilter">{{ x.name }}</li>
  </ul>

  sdsdsdsd
  <ul>
    <li *ngFor="let x of items">{{ x.name }}</li>
  </ul>

  Help 1 w
</div> -->
Tab 1 Details
