<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a
      class="nav-item nav-link active"
      id="nav-home-tab"
      data-toggle="tab"
      href="#nav-tab1"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
      >Tab 1</a
    >
    <a
      class="nav-item nav-link"
      id="nav-profile-tab"
      data-toggle="tab"
      href="#nav-tab2"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      >Tab 2</a
    >
    <a
      class="nav-item nav-link"
      id="nav-contact-tab"
      data-toggle="tab"
      href="#nav-tab3"
      role="tab"
      aria-controls="nav-contact"
      aria-selected="false"
      >Tab 3</a
    >
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-tab1"
    role="tabpanel"
    aria-labelledby="nav-home-tab"
  >
    <app-home></app-home>
  </div>
  <div
    class="tab-pane fade"
    id="nav-tab2"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    Tab 2 details
  </div>
  <div
    class="tab-pane fade"
    id="nav-tab3"
    role="tabpanel"
    aria-labelledby="nav-contact-tab"
  >
    <app-admin></app-admin>
  </div>
</div>
<!-- <app-demo-component [(uppercase)]="isUpper"></app-demo-component>
{{ isUpper }} -->
